/* Variables */
$color--primary: #5900ff;
$color--secondary: #22252a;
$color--grey: #ced3da;
$color--text: #616161;
$color--danger: #fa3535;
$color--success: #21c15c;
$color--info: #0079ff;
$font-main: "Rubik", sans-serif;
