@import "./partial/_variables";
@import "./partial/bootstrap-grid.scss";
@import "./partial/normalize.scss";
@import "./partial/typography.scss";
@import "./partial/_mixins";
@import "./partial/_tables";

/* VARS -End */
html {
  scroll-behavior: smooth;
}
body {
  font-family: $font-main;
  font-size: 16px;
  font-weight: 400;
  color: $color--secondary;
  overflow-x: hidden;
}

// global classes
.bg {
  &--primary {
    background-color: $color--primary;
  }
}
.color {
  &--primary {
    color: $color--primary;
  }
  &--secondary {
    color: $color--secondary;
  }
  &--white {
    color: #fff;
  }
}

// Helper classes
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
.initial {
  text-transform: initial;
}
.lowercase {
  text-transform: lowercase;
}
.hard-full-width {
  position: relative;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  left: 50%;
  right: 50%;
  // & > * {
  // 	margin-left: auto;
  // 	margin-right: auto;
  // }
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

// Forms
.form {
  &__group {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  &__label {
    font-weight: 500;
    display: block;
    font-size: 18px;
    margin-bottom: 0.5rem;
  }
  &--control {
    font-size: 14px;
    font-family: inherit;
    width: 100%;
    padding: 10px 10px;
    border: 2px solid $color--grey;
    border-radius: 4px;
    // &::placeholder {
    //   // color: $grey;
    //   font-style: italic;
    // }
  }
  &__submit {
    .button {
      font-size: 18px;
      padding: 12px 20px;
      min-width: 200px;
    }
  }
  &--loading {
    position: relative;
    filter: blur(2px);
    pointer-events: none;
    & + .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) !important;
      z-index: 99;
      width: 60px;
      height: 60px;
    }
  }
}
// Loading
.blur-loading {
  position: relative;
      pointer-events: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    backdrop-filter: blur(2px);
    z-index: 9;
  }
  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) !important;
    z-index: 99;
    width: 60px;
    height: 60px;
  }
}
// Buttons
.button {
  font-family: inherit;
  font-size: 16px;
  padding: 14px 20px;
  border-radius: 4px;
  display: inline-block;
  transition: 0.1s;
  &:active {
    transform: scale(.96);
  }
  &--primary {
    background: $color--primary;
    border: 2px solid $color--primary;
    color: #ffff;
    &:hover {
      background-color: darken($color--primary, 12%);
    }
  }
  &--secondary {
    color: $color--primary;
    background: #fff;
    border: 2px solid $color--primary;
    &:hover {
      background-color: $color--primary;
      color: #fff;
    }
  }
  &--danger {
    color: #fff;
    background: $color--danger;
    border: 2px solid $color--danger;
    &:hover {
      background-color: darken($color--danger, 12%);
    }
  }
  &--info {
    color: #fff;
    background: $color--info;
    border: 2px solid $color--info;
    &:hover {
      background-color: darken($color--info, 12%);
    }
  }
  &--success {
    background: $color--success;
    color: #fff;
    border: 2px solid $color--success;
    &:hover {
      background-color: darken($color--success, 12%);
    }
  }
  // &--icon {
  // }
}
// Alerts
.alert {
  padding: 1.5rem 1rem;
  font-size: 18px;
  border: 2px solid currentColor;
  border-radius: 4px;
  &--danger {
    color: #d0464c;
    background: #ff666d2e;
  }
  &--success {
    color: #18ad20;
    background: #00ff0d14;
  }
}
.react-bs-table-no-data {
  color: #f03a40;
  background: #ff4a522e;
  font-weight: 500;
  text-align: center !important;
}

// Headings
.heading {
  font-size: 40px;
  margin-bottom: 0.5rem;
  line-height: 1;
  &--2 {
    font-size: 30px;
  }
  &--3 {
    font-size: 26px;
  }
  &--4 {
    font-size: 24px;
  }
  &--5 {
    font-size: 20px;
    color: $color--primary;
  }
  &--6 {
    font-size: 18px;
    color: $color--primary;
  }
}

// text
.text-sm {
  font-size: 12px;
}
.text-reg {
  font-size: 14px;
}
.text-md {
  font-size: 16px;
}
.text-lg {
  font-size: 20px;
}
.text-400 {
  font-weight: 400;
}
.text-500 {
  font-weight: 500;
}
.text-600 {
  font-weight: 600;
}

// Loading spinner
$spinnerSize: 40;
svg.spinner {
  width: $spinnerSize + px;
  height: $spinnerSize + px;
  x: 0px;
  y: 0px;
  circle {
    fill: transparent;
    stroke: #ff4545;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-dasharray: (3.14 * $spinnerSize);
    -webkit-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
    -moz-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
    -ms-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
    -o-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
    transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
    -webkit-animation: spinner 2s linear infinite;
    -moz-animation: spinner 2s linear infinite;
    -ms-animation: spinner 2s linear infinite;
    -o-animation: spinner 2s linear infinite;
    animation: spinner 2s linear infinite;
  }
}
// Skeletons
.skeleton {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  &__item {
    background: #ebebeb;
    border-radius: 3px;
    height: 50px;
    width: 100%;
    position: relative;
    animation: linearBG .8s linear infinite;
    &::before {
      content: "";
      position: absolute;
    }
  }
}

@keyframes linearBG {
  0% {
    background: #e0e0e0;
  } 50% {
    background: #f3f3f3ef;
  } 100% {
    background: #e0e0e0;
  }  
}
@keyframes spinner {
  0% {
      transform: rotate(0deg);
      stroke-dashoffset: (0.66 * $spinnerSize);
  } 50% {
      transform: rotate(720deg);
      stroke-dashoffset: (3.14 * $spinnerSize);
  } 100% {
      transform: rotate(1080deg);
      stroke-dashoffset: (0.66 * $spinnerSize);
  }
}