@import "base.scss";
@import "_header.scss";
@import "_footer.scss";

.app {
  &__backButton {
    display: flex;
    align-items: center;
    gap: .4rem;
    transition: .15s;
    &:hover {
      color: $color--primary;
      gap: .55rem;
    }
    &:active {
      .icon {
        transform: scale(.96);
      }
    }
    .icon {
      width: 32px;
      height: 32px;
      color: $color--primary;
      transition: .2s;
    }
  }
  &__main {
    margin: 2rem 0;
    min-height: calc(100vh - (67px * 2) - 2rem * 2);
  }
  &__intro {
    margin-bottom: 2rem;
    p {
      font-size: 14px;
      letter-spacing: 0.3px;
      line-height: 1.5;
      color: $color--text;
    }
  }
  &__search {
    form {
      .button {
        margin-left: -4px;
      }
    }
  }
  &__pagination {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      // overflow: hidden;
      width: max-content;
      margin: 0 auto;
      // margin: 0 auto;
      li {
        margin-left: -2px;
        &:first-child {
          margin-left: 0;
          a {
            border-radius: 4px 0 0 4px;
          }
        }
        &:last-child {
          a {
            border-radius: 0 4px 4px 0;
          }
        }
        a {
          font-weight: 500;
          display: block;
          padding: 12px 15px;
          line-height: 1;
          border: 2px solid #5900ff;
          color: #5900ff;
          display: flex;
          align-items: center;
          justify-content: center;
          &.active,
          &:hover {
            background: $color--primary;
            color: #fff;
          }
        }
      }
    }
  }

  .react-bs-table-pagination {
    .row {
      margin-left: 0;
      margin-right: 0;
      & > [class*="col-"] {
        max-width: inherit;
        flex: unset;
        &:first-child {
          display: none !important;
        }
      }
    }
    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      // overflow: hidden;
      width: max-content;
      margin: 0 auto;
      float: none;
      // margin: 0 auto;
      li {
        margin-left: -2px;
        &:first-child {
          margin-left: 0;
          a {
            border-radius: 4px 0 0 4px;
          }
        }
        &:last-child {
          a {
            border-radius: 0 4px 4px 0;
          }
        }
        &.active,
        &:hover {
          a {
            background: $color--primary;
            color: #fff;
          }
        }
        &:hover {
          a {
            background: lighten($color: $color--primary, $amount: 5%);
          }
        }
        a {
          font-weight: 500;
          display: block;
          padding: 12px 15px;
          line-height: 1;
          border: 2px solid #5900ff;
          color: #5900ff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  &__table {
    min-width: 600px;
    th {
      position: relative;
      &.sort-column {
        user-select: none;
        transition: 0.3s;
        &:hover {
          background-color: transparentize($color--primary, 0.95);
        }
        &:focus {
          transform: scale(0.95);
        }
      }
      [class*="fa-sort"],
      .order {
        background: url("../icons/sort.svg") no-repeat center;
        background-size: 14px;
        position: absolute;
        width: 26px;
        height: 26px;
        top: 13px;
        right: 15px;
        border-radius: 4px;
        margin: 0 !important;
        &:hover {
          background-color: transparentize($color--primary, 0.85);
        }
      }
    }
    tbody {
      tr {
        &:nth-child(even) {
          background-color: transparentize($color--primary, 0.95);
        }
      }
    }
    &__labels {
      white-space: break-spaces;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      &__item {
        font-size: 14px;
        background: #0079ff;
        border-radius: 4px;
        padding: 2px 4px;
        line-height: 1;
        color: #fff;
        &:hover {
          background-color: darken(#0079ff, 10%);
        }
      }
    }
  }
  // Page content
  &__wrapper {
    padding: 2rem 0;
  }
  &__content {
    p {
      font-size: 14px;
      letter-spacing: 0.3px;
      line-height: 1.5;
      color: $color--text;
      text-align: justify;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      a {
        color: $color--primary;
        border-bottom: 1px solid $color--primary;
        &:hover {
          border-bottom-style: dashed;
        }
      }
    }
    ul {
      margin: 1rem 0 1.5rem;
      li {
        padding-left: 1rem;
        margin: 0.5rem;
        color: $color--secondary;
        position: relative;
        display: flex;
        align-items: flex-start;
        &::before {
          content: "";
          width: 25px;
          height: 2px;
          background: #22252a;
          display: inline-block;
          vertical-align: middle;
          margin-right: 0.5rem;
          margin-top: 0.6rem;
        }
      }
    }
  }
  &__aside {
    border-radius: 6px;
    padding: 1rem;
    border: 3px solid #805fbf21;
    position: sticky;
    top: 1rem;
    background: #fbfaff;
    &__heading {
      font-size: 18px;
      font-weight: 600;
    }
    p {
      color: lighten($color--text, 30%);
      font-size: 14px;
      letter-spacing: 0.5px;
      line-height: 1.5;
      margin-bottom: 0.75rem;
      a {
        border-bottom: 1px solid currentColor;
        &:hover {
          color: $color--primary;
          border-bottom-style: dashed;
        }
      }
    }
  }
  // Topic
  &__topic {
    &__result {
      ul {
        li {
          display: block;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.4px;
          line-height: 1.5;
          color: $color--info;
          background: transparentize($color--info, 0.9);
          border: 2px solid currentColor;
          padding: 0.5rem 0.75rem;
          border-radius: 4px;
          margin: 0.5rem 0;
        }
      }
    }
  }
}
